
.brand-logo {
  text-shadow:
      -5px 0px 0px black,
      5px 0px 0px black,
      0px -5px 0px black,
      0px 5px 0px black;
  color: white;
  font-family: 'Permanent Marker', cursive;

}

title {

  font-family: 'Raleway', sans-serif;
}

.card-title {
  font-family: 'Raleway', sans-serif;
}

p,
a,
.card-text,
.form-label,
.fw-normal {
  font-family: 'Lato', sans-serif;
}

footer {
    background-color: rgb(243, 11, 11);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 20px 0 0 0;
    margin-bottom: 0;
}
/* Tabla de inventario */

 

/* fin de  inventario */

.card{
    background: #f1f1f1a9;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 70px;
    padding: 20px;
    image-rendering: auto;
    position: relative;
   
  }
  h1 {
    color: rgb(12, 4, 4);
    font-size: 70px;
    font-family:  "Lucida Console",  monospace;
    font-weight: bold;
    font-weight: 100;
    text-align: center;
   

  
  }

  h2{
    color: white;
    font-size: 50px;
    font-family:  "Lucida Console",  monospace;
    font-weight: bold;
    font-weight: 100;
    text-align: center;
    margin: 20px;
    

  }

  /* Cartas de empledos */


